.container {
    max-width: 500px;
    margin: 0 auto;
    .cells_items {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .cells_item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 100px;
            background-color: aqua;
            font-size: 24px;
            //cursor: move;
            &.over {
                    outline: 2px dashed #000;
            }
        }
    }
}
